{{< layout}}
{{$main}}
  <p>Ver <a href="/products/product1.html">Produto 1</a> baseada em uma sub parent layout</p>



    {{$product}}
        <h1>Get In Touch</h1>
        <p>Let's discuss your next project or collaboration opportunity</p>
    {{/product}}    
{{/main}}
