<section class="experience">
    <div class="container">
        <h2 class="section-title">Experience & Education</h2>
        <div class="timeline">
            {{#experience}}
            {{> timeline-item}}
            {{/experience}}
        </div>
    </div>
</section>