{{< layout}}
{{$main}}
  <h2>Insert Client</h2>
    <form action="" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="nif">NIF:</label>
        <input type="text" id="nif" name="nif" required>

        <button type="submit">Submit</button>
    </form>

{{/main}}
